html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.search button {
    background-color: #f8f8f8 !important;
    border-radius: 0 3px 3px 0 !important;
    border-left: 1px solid #ccc;
}

.search {
    border: 1px solid #ccc;
    border-radius: 3px;
    height: 47px;
}

.voice, .switch-button{
    width: 45px;
    height: 45px;
}


.voice i {
    font-size: 20px;
}

.d-none{
    display: none;
}